<!DOCTYPE html>
<html>
<head>
  <title>Tell me more....</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to 'Tell me more...', root_path, class: "nav-link #{yield(:post_active)}" %></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a <%= link_to 'Post', root_path, class: "nav-link #{yield(:post_active)}" %> </a></li>
      <li><a  <%= link_to 'Profile', profile_path, class: "nav-link #{yield(:profile_active)}" %> </a></li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</nav>

<%= yield %>

</body>
</html>
