<!DOCTYPE html>
<html>
<head>
  <title>Tell me more....</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="row container-fluid">
    <div class="navbar-header col-md-2">
      <% if user_signed_in? || user_wg %>
        <a class="navbar-brand" <%= link_to 'Tell me more...', posts_path, class: "nav-link #{yield(:post_active)}" %></a>
      <% else %>
        <a class="navbar-brand" <%= link_to 'Tell me more...', root_path, class: "nav-link #{yield(:post_active)}" %></a>
      <% end %>
    </div>
    <form class="form-inline mt-2 col-md-4" >
      <% if user_signed_in? || user_wg %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit">Submit</button>
      <% end %>
    </form>
    <ul class="nav navbar-nav col-md-4">
      <% if user_signed_in? %>
        <a><%= link_to(current_user.email, "/users/#{current_user.id}" ,class: "navbar-brand") %></a>
        <a><%= link_to('Logout', destroy_user_session_path, method: :post, class: "navbar-brand") %></a>
        <li><a <%= link_to 'Posts', posts_path, class: "nav-link #{yield(:post_active)}" %> </a></li>
      <% end %>
      <% if user_wg %>
        <a><%= link_to(user_wg.email, "/users/#{user_wg.id}" ,class: "navbar-brand") %></a>
        <a><%= link_to('Logout', '/logout', method: :post, class: "navbar-brand") %></a>
        <li><a <%= link_to 'Post', posts_path, class: "nav-link #{yield(:post_active)}" %> </a></li>
      <% end %>
    </ul>

  </div>
</nav>

<% if flash[:notice] %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:notice] %>
</div>

<% elsif flash[:error] %>
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:error] %>
</div>

<% elsif flash[:alert] %>
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= flash[:alert] %>
</div>
<% end %>

<%= yield %>

<footer class="footer mt-auto py-3">
        <div class="container">
          <a class="hoverr" href="/termsofuse">Terms of Use</a>
          <a class="hoverr" href="/termsofservice">Terms of Service</a>
          <p> &copy; Tell me more... </p>
          </div>
</footer>
</body>
</html>
