<!DOCTYPE html>
<html>
<head>
  <title>Tell me more....</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="row container-fluid">
    <div class="navbar-header col-md-2">
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      <a class="navbar-brand" <%= link_to 'Tell me more...', root_path, class: "nav-link #{yield(:post_active)}" %></a>
    </div>
    <form class="form-inline mt-2 col-md-4" >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit">Submit</button>
    </form>
    <ul class="nav navbar-nav col-md-2">
      <li><a <%= link_to 'Post', posts_path, class: "nav-link #{yield(:post_active)}" %> </a></li>
      <li><a  <%= link_to 'Profile', href = 'http://localhost:3000/users/1', class: "nav-link #{yield(:profile_active)}" %> </a></li>
      <% if user_signed_in? %>
        <a><%= link_to(current_user.email, "/users/#{current_user.id}" ,class: "navbar-brand") %></a>
        <a><%= link_to('Logout', destroy_user_session_path, method: :post, class: "navbar-brand") %></a>

      <% else %>
        <a class="navbar-brand" href="/sign">Sign In/Up</a>
      <% end %>
    </ul>

  </div>
</nav>

<%= yield %>

<footer class="footer mt-auto py-3">
        <div class="container">
          <a class="hoverr" href="/">Terms and Conditions</a>
          <p> &copy; Tell me more... </p>
          </div>
</footer>
</body>
</html>
