<p id="notice"><%= notice %></p>

<p>
  <strong>Profile image:</strong>
  <%= @super_admin.profile_image %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @super_admin.nickname %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @super_admin.biography %>
</p>

<p>
  <strong>Email:</strong>
  <%= @super_admin.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @super_admin.password %>
</p>

<p>
  <strong>Country:</strong>
  <%= @super_admin.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @super_admin.city %>
</p>

<p>
  <strong>Status:</strong>
  <%= @super_admin.status %>
</p>

<p>
  <strong>Gps location:</strong>
  <%= @super_admin.gps_location %>
</p>

<%= link_to 'Edit', edit_super_admin_path(@super_admin) %> |
<%= link_to 'Back', super_admins_path %>
