<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  	<div class="row">
  	    <div class="col-md-8 col-md-offset-2">
      		<form action="" method="POST">
      		    <div class="form-group">
      		        <label for="title">Title <span class="require">*</span></label>
      		        <%= form.text_field :title %>
      		    </div>

      		    <div class="form-group">
      		        <label for="description">Description</label>
                  <textarea  rows="8"<%= form.text_field :text%></textarea>
      		    </div>

              <div class="field">
                <%= form.label :user_id %>
                <%= form.text_field :user_id %>
              </div>

              <div class="input-group">
                <%= form.file_field :photo, direct_upload: true %>
              </div>

      		    <div class="form-group">
                <div class="actions">
                  <%= form.submit %>
                </div>
      		    </div>
              <div class="field">
                <%= form.hidden_field :wall_id %>
              </div>

              <div class="field">
                <%= form.hidden_field :super_admin_id %>
              </div>

              <div class="field">
                <%= form.hidden_field :admin_id %>
              </div>
      		</form>
  		</div>

  	</div>
  </div>
<% end %>
