<div class="row">
  <div class="col-md-2">
    <div class="user_post_pic">
        <%=image_tag(@post.user.image, style:'width:100%') if @post.user.image.attached?%>
    </div>
  </div>
  <div class="col-md-10">
    <div class="w3-container">
      <div class="post-txt">
        <h1><%= @post.title %><small><i> Posted on <%= @post.created_at %> by <%= link_to @post.user.nickname, user_path(@post.user) %></i></small></h1>
        <p><%= @post.text %></p>
      </div>
      <div class="post_pic">
        <%= image_tag(@post.photo, style:'width:100%') if @post.photo.attached?%>
      </div>
      <div class="row post-btns">
        <%= link_to 'Upvoted', post_upvoteds_path(@post), method: :post %> <%= @post.upvoteds.count %>
        <%= link_to 'Downvoted', post_downvoteds_path(@post), method: :post %> <%= @post.downvoteds.count %>
        <%= link_to 'Inappropiate', post_inappropiates_path(@post), method: :post %> <%= @post.inappropiates.count %>
        <%= link_to 'Share', post_shares_path(@post), method: :post %> <%= @post.shares.count %>
        <%= link_to 'Follow', post_follows_path(@post), method: :post %> <%= @post.follows.count %>
      </div>
      <div class="row post-btns">
        <%= link_to "Add Comment", new_comment_path(post_id: @post.id) %>
      </div>
      <div class="row comnts">
        <% @post.comments.each do |c| %>
          <div class="comnts-container">
            <div class="col-md-1">
              <%= image_tag(c.user.image, style:'width:100%') if c.user.image.attached?%>
            </div>
            <div class="col-md-9">
              <h4><%= link_to c.user.nickname,user_path(c.user) %></h4><p><%=c.text%></p>
              <%= link_to "Show Comment", comment_path(c) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <% if user_wg && user_wg.id != @post.user_id && user_wg.role == 'admin' %>
      <%= link_to 'Add post to the Dumpster', post_dumpsters_path(@post), method: :post %>
    <% end %>
    <% if user_wg && (user_wg.id == @post.user_id || user_wg.role == 'admin') %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% elsif user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
