<div class="row">
  <div class="col-md-2">
    <div class="user_post_pic">
        <%=image_tag(@post.user.image, style:'width:100%') if @post.user.image.attached?%>
    </div>
  </div>
  <div class="col-md-10">
    <div class="w3-container">
      <div class="post-txt">
        <h1><%= @post.title %><small><i> Posted on <%= @post.created_at %> by <%= link_to @post.user.nickname, user_path(@post.user) %></i></small></h1>
        <p><%= @post.text %></p>
      </div>
      <div class="post_pic">
        <%= image_tag(@post.photo, style:'width:100%') if @post.photo.attached?%>
      </div>
      <div class="row post-btns">
        <%= button_to 'Upvoted', post_upvoteds_path(@post), method: :post %><p><%= @post.upvoteds.count %> <%= (@post.upvoteds.count) == 1 ? 'Upvoted' : 'Upvoteds'%></p>
        <%= button_to 'Downvoted', post_downvoteds_path(@post), method: :post %><p><%= @post.downvoteds.count %> <%= (@post.downvoteds.count) == 1 ? 'Downvoted' : 'Downvoteds'%></p>
        <%= button_to 'Inappropiate', post_inappropiates_path(@post), method: :post %><p><%= @post.inappropiates.count %> <%= (@post.inappropiates.count) == 1 ? 'Inappropiate' : 'Inappropiate'%></p>
        <%= button_to 'Share', post_shares_path(@post), method: :post %><p><%= @post.shares.count %> <%= (@post.shares.count) == 1 ? 'Share' : 'Shares'%></p>
        <%= button_to 'Follow', post_follows_path(@post), method: :post %><p><%= @post.follows.count %> <%= (@post.follows.count) == 1 ? 'Follow' : 'Follows'%></p>
        <%= link_to "Add Comment", new_comment_path(post_id: @post.id) %>
      </div>
      <div class="row comnts">
        <% @post.comments.each do |c| %>
          <div class="comnts-container">
            <div class="col-md-1">
              <%= image_tag(c.user.image, style:'width:100%') if c.user.image.attached?%>
            </div>
            <div class="col-md-9">
              <h4><%= link_to c.user.nickname,user_path(c.user) %></h4><p><%=c.text%></p>
              <%= link_to "Show Comment", comment_path(c) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_wg && user_wg.id == @post.user_id %>
    <div class="col-md-3">
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% elsif user_signed_in? && current_user.id == @post.user_id %>
    <div class="col-md-3">
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
