<div class="row">
  <div class="col-md-2">
    <div class="user_post_pic">
      <img src="https://www.elitesingles.com/sites/www.elitesingles.com/files/styles/elite_rectangle_article_arrow_left_frame/public/2b_en_ta_teaser_sp1.png" class="img-responsive" alt="">
    </div>
  </div>
  <div class="col-md-10">
    <div class="w3-container">
      <div class="post-txt">
        <h1><%= @post.title %><small><i> Posted on <%= @post.created_at %> by <%= @post.user_id %></i></small></h1>
        <p><%= @post.text %></p>
        <p><%= @post.link %></p>
      </div>
      <div class="post_pic">
        <img src="https://gcdn.emol.cl/fotografia/files/2014/12/22.jpg" class="img-responsive" alt="">
      </div>
      <div class="row post-btns">
        <button type="button" name="Upvote">Upvote</button>
        <button type="button" name="Downvote">Downvote</button>
        <button type="button" name="Share">Share</button>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> 
