<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-8">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login</h3>
			 	</div>
			  	<div class="panel-body">
            <%= form_for(:session, url: log_in_path) do |f| %>
             <div class="form-group">
               <%= f.label :email,"Email" %><br />
               <%= f.email_field :email, autofocus: true  %>
             </div>

             <div class="form-group">
               <%= f.label :password, "Password" %><br />
               <%= f.password_field :password, autocomplete: "off"  %>
             </div>
             <div class="actions">
               <%= f.submit "Log In" %>
             </div>
             <br>
           <% end %>
           <%= link_to 'Sign In', registrations_path %>
           <fieldset>
             <div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
              </label>
            </div>
           </fieldset>
			    </div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-offset-4">
  <h1>Or Sign Up and Complain all you want</h1>
</div>
<%= render 'form', user: @user %>
