<div class="container">
    <div class="row profile">
  		<div class="col-md-3">
  			<div class="profile-sidebar">
  				<div class="profile-userpic">
            <%= image_tag(@user.image, style:'width:100%') if @user.image.attached?%>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-9">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.nickname %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.biography %>
          </div>
          <div class="profile-usertitle-email">
            <%= @user.email %>
          </div>
          <div class="profile-usertitle-country">
            <%= @user.country %>
          </div>
          <div class="profile-usertitle-city">
            <%= @user.city %>
          </div>
        </div>
      </div>
    </div>
    <div class="row profileS">
      <div class="col-md-3">
        <% if user_wg && (user_wg.id == @user.id || user_wg.role == 'admin') %>
          <%= link_to 'Edit', edit_user_path(@user) %>
          <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% elsif user_signed_in? && current_user.id == @user.id %>
          <%= link_to 'Edit', edit_user_path(@user) %>
          <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if user_wg && user_wg.id == @user.id && user_wg.role == 'admin' %>
          <%= link_to 'All Users', users_path %>
        <% elsif user_wg && user_wg.id != @user.id && user_wg.role == 'admin' %>
          <%= link_to 'Add to Blacklist', users_path %>
        <% end %>
      </div>
      <div class="col-md-9">
        <h3>My Posts</h3>
        <% @user.posts.each do |post| %>
            <div class="profile-content">
              <div class="w3-container">
                <h4><%= post.title %><small><i> Posted <%= post.created_at %> by <%= @user.nickname %></i></small></h4>
                <p><%= post.text %></p>
                <p><%= link_to 'Read more', post_path(post) %></p>
              </div>
            </div>
          <% end %>
          <h3>My Upvoted Posts</h3>
          <% Upvoted.all.each do |uv| %>
            <% if @user.id == uv.user_id %>
              <div class="profile-content">
                <div class="w3-container">
                  <h4><%= uv.post.title %><small><i> Posted <%= uv.post.created_at %> by <%= uv.user.nickname %></i></small></h4>
                  <p><%= uv.post.text %></p>
                  <p><%= link_to 'Read more', post_path(uv.post) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          <h3>My Downvoted Posts</h3>
          <% Downvoted.all.each do |dv| %>
            <% if @user.id == dv.user_id %>
              <div class="profile-content">
                <div class="w3-container">
                  <h4><%= dv.post.title %><small><i> Posted <%= dv.post.created_at %> by <%= dv.user.nickname %></i></small></h4>
                  <p><%= dv.post.text %></p>
                  <p><%= link_to 'Read more', post_path(dv.post) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          <h3>My Shared Posts</h3>
          <% Share.all.each do |s| %>
            <% if @user.id == s.user_id %>
              <div class="profile-content">
                <div class="w3-container">
                  <h4><%= s.post.title %><small><i> Posted <%= s.post.created_at %> by <%= s.user.nickname %></i></small></h4>
                  <p><%= s.post.text %></p>
                  <p><%= link_to 'Read more', post_path(s.post) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          <h3>My Followed Posts</h3>
          <% Follow.all.each do |f| %>
            <% if @user.id == f.user_id %>
              <div class="profile-content">
                <div class="w3-container">
                  <h4><%= f.post.title %><small><i> Posted <%= f.post.created_at %> by <%= f.user.nickname %></i></small></h4>
                  <p><%= f.post.text %></p>
                  <p><%= link_to 'Read more', post_path(f.post) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if user_wg && user_wg.id == @user.id && user_wg.role == 'admin' %>
            <h3>My Dumpster Posts</h3>
            <% Dumpster.all.each do |du| %>
                <div class="profile-content">
                  <div class="w3-container">
                    <h4><%= du.post.title %><small><i> Posted <%= du.post.created_at %> by <%= du.user.nickname %></i></small></h4>
                    <p><%= du.post.text %></p>
                    <p><%= link_to 'Read more', post_path(du.post) %></p>
                  </div>
                </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
