<div class="container">
    <div class="row profile">
  		<div class="col-md-3">
  			<div class="profile-sidebar">
  				<div class="profile-userpic">
            <%= image_tag(@user.image, style:'width:100%') if @user.image.attached?%>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-9">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.nickname %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.biography %>
          </div>
          <div class="profile-usertitle-email">
            <%= @user.email %>
          </div>
          <div class="profile-usertitle-country">
            <%= @user.country %>
          </div>
          <div class="profile-usertitle-city">
            <%= @user.city %>
          </div>
        </div>
      </div>
    </div>
    <div class="row profileS">
      <div class="col-md-3">
        <% if user_wg && (user_wg.id == @user.id || user_wg.role == 'admin') %>
          <%= link_to 'Edit', edit_user_path(@user) %>
        <% elsif user_signed_in? && current_user.id == @user.id %>
          <%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
        <% if user_wg && user_wg.id == @user.id && user_wg.role == 'admin' %>
          <%= link_to 'All Users', users_path %>
          <%= link_to 'See Blacklist', blacklists_path %>
          <%= link_to 'See Dumpster', dumpsters_path %>
        <% elsif user_wg && user_wg.id != @user.id && user_wg.role == 'admin' %>
          <%= link_to 'Add to Blacklist', blacklists_path %>
        <% end %>
      </div>
      <div class="col-md-9">
        <% @user.posts.each do |post| %>
            <div class="profile-content">
              <div class="w3-container">
                <h4><%= post.title %><small><i> Posted <%= post.created_at %> by <%= @user.nickname %></i></small></h4>
                <p><%= post.text %></p>
                <p><%= link_to 'Read more', post_path(post) %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
