<div class="container">
    <div class="row profile">
  		<div class="col-md-2">
  			<div class="profile-sidebar">
  				<div class="profile-userpic">
            <%= image_tag(@user.image, style:'width:100%') if @user.image.attached?%>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-9">
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.nickname %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.biography %>
          </div>
          <div class="profile-usertitle-email">
            <%= @user.email %>
          </div>
          <div class="profile-usertitle-country">
            <%= @user.country %>
          </div>
          <div class="profile-usertitle-city">
            <%= @user.city %>
          </div>
        </div>
      </div>
    </div>
    <div class="row profileS">
      <div class="col-md-3">
        <%= link_to 'Edit', edit_user_path(@user) %>
      </div>
      <div class="col-md-9">
        <% @user.posts.each do |post| %>
            <div class="profile-content">
              <div class="w3-container">
                <h4><%= post.title %><small><i> Posted <%= post.created_at %> by <%= @user.nickname %></i></small></h4>
                <p><%= post.text %></p>
                <p><%= link_to 'Read more', post_path(post) %></p>
                <div class="row btns-post">
                  <button type="button" name="Upvote">Upvote</button>
                  <button type="button" name="Downvote">Downvote</button>
                  <button type="button" name="Share">Share</button>
                  <button type="button" name="Follow">Follow</button>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
